@import '../../sass/utils/_variables.scss';

.wrapper{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
    background-color: $color-tertiary-grey;
    padding: 50px;
    border-radius: 25px;
    width: 86%;
    margin: 0 auto;
    @media screen and (max-width: 1230px){
        gap: 25px; 
               
    }
    @media screen and (max-width: 700px){        
        background-color: transparent;
        padding:25px 0px;
        
    }
}