@import '../../sass/main.scss';

.wrapper{
    max-width: 85%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    min-height: 620px;
    color: $color-secondary-red;
    width: 86%;
    margin: 0 auto;        
    &_404{
        font-size: clamp(96px, 23vw, 288px);        
    }
    &_Content{
        text-align: center;
        font-weight: 500;
        font-size: clamp(18px, 4vw, 36px);
    }
    &_Link{
        color: $color-quaternary-black;
        font-size: clamp(14px, 4vw, 18px);
        text-decoration: underline;
        font-weight: 500;
    }
}